<ng-container *ngIf="loading$ | async">
  <jv-loader></jv-loader>
</ng-container>

<ng-container *ngIf="shouldShowError$ | async">
  <div id="error-container" class="flex flex-col items-center">
    <h3>There was an error.</h3>
    <button class="mt-2" (click)="onRetry()">Try again</button>
  </div>
</ng-container>

<ng-container *ngIf="shouldShowList$ | async">
  <div class="block w-full border border-gray-400 rounded">
    <h3 class="p-4 flex flex-wrap justify-between items-center bg-gray-600 rounded-t border-b border-gray-400">
      <span class="mr-4">Showing results for: <strong>{{ currentSearch$ | async }}</strong></span>
      <span>
        Page: <strong class="mr-4">{{ currentPage }}</strong> Total items: <strong>{{ total }}</strong>
      </span>
    </h3>

    <jv-list-item *ngFor="let user of (list$ | async)"
                  [user]="user"></jv-list-item>

  </div>

  <jv-paginator [currentPage]="currentPage"
                [total]="total"
                (pageChanged)="onPageChanged($event)"></jv-paginator>
</ng-container>
