<h2>Course Info</h2>

<hr style="width: 50%;"/>

<form #courseForm="ngForm" *ngIf="course">

    <div class="form-group row">
        <label class="col-sm-1 col-form-label" >Name:</label>
    
        <div class="col-sm-5">
            <input 
              [(ngModel)]="course.name" required
              name="name"
              #courseName="ngModel"
              type="text"
              [ngClass]="{'is-invalid': courseName.invalid}"
              class="form-control"
            />
            
            <div class="invalid-feedback">
                <span>Course name is required!</span>
            </div>            
        </div>        
    </div>

    <hr style="width: 50%;"/>

    <div class="form-group row">
        <label class="col-sm-1 col-form-label" >Price:</label>
    
        <div class="col-sm-5">
            <input 
              [(ngModel)]="course.price" required
              name="price"
              #coursePrice="ngModel"
              type="number"
              [ngClass]="{'is-invalid': coursePrice.invalid}"
              class="form-control"
            />
            
            <div class="invalid-feedback">
                <span>Course price is required!</span>
            </div>            
        </div>        
    </div>

    <hr style="width: 50%;"/>

    <div class="form-group row">
        <label class="col-sm-1 col-form-label" >Image:</label>
    
        <div class="col-sm-5">
            <input 
              [(ngModel)]="course.imageUrl" required
              name="imageUrl"
              #courseImageUrl="ngModel"
              type="text"
              [ngClass]="{'is-invalid': courseImageUrl.invalid}"
              class="form-control"
            />
            
            <div class="invalid-feedback">
                <span>Course image is required!</span>
            </div>            
        </div>        
    </div>

    <hr style="width: 50%;"/>

    <div class="form-group row">
        <label class="col-sm-1 col-form-label" >Description:</label>
    
        <div class="col-sm-5">
            <textarea 
              [(ngModel)]="course.description" required
              name="description"
              #courseDescription="ngModel"
              type="text"
              [ngClass]="{'is-invalid': courseDescription.invalid}"
              class="form-control"
            >
            </textarea>
            
            <div class="invalid-feedback">
                <span>Course description is required!</span>
            </div>            
        </div>        
    </div>

    <hr style="width: 50%;"/>

    <div class="form-group row">
        <label class="col-sm-1 col-form-label" >Code:</label>
    
        <div class="col-sm-5">
            <input 
              [(ngModel)]="course.code" required
              name="code"
              #courseCode="ngModel"
              type="text"
              [ngClass]="{'is-invalid': courseCode.invalid}"
              class="form-control"
            />
            
            <div class="invalid-feedback">
                <span>Course code is required!</span>
            </div>            
        </div>        
    </div>

    <hr style="width: 50%;"/>

    <div class="form-group row">
        <label class="col-sm-1 col-form-label" >Duration:</label>
    
        <div class="col-sm-5">
            <input 
              [(ngModel)]="course.duration" required
              name="duration"
              #courseDuration="ngModel"
              type="number"
              [ngClass]="{'is-invalid': courseDuration.invalid}"
              class="form-control"
            />
            
            <div class="invalid-feedback">
                <span>Course duration is required!</span>
            </div>            
        </div>        
    </div>

    <hr style="width: 50%;"/>

    <div class="form-group row">
        <label class="col-sm-1 col-form-label" >Rating:</label>
    
        <div class="col-sm-5">
            <input 
              [(ngModel)]="course.rating" required
              name="rating"
              #courseRating="ngModel"
              type="number"
              [ngClass]="{'is-invalid': courseRating.invalid}"
              class="form-control"
            />
            
            <div class="invalid-feedback">
                <span>Course rating is required!</span>
            </div>            
        </div>        
    </div>

    <hr style="width: 50%;"/>

    <div class="form-group row">
        <label class="col-sm-1 col-form-label" >Date:</label>
    
        <div class="col-sm-5">
            <input 
              [(ngModel)]="course.releaseDate" required
              name="date"
              #courseDate="ngModel"
              type="text"
              [ngClass]="{'is-invalid': courseDate.invalid}"
              class="form-control"
            />
            
            <div class="invalid-feedback">
                <span>Course date is required!</span>
            </div>            
        </div>        
    </div>

    <hr style="width: 50%;"/>
    
    <button 
      [disabled]="courseForm.invalid"
      class="btn btn-primary mr-2"
      style="margin-bottom: 30px;"
      (click)="save()"
      [routerLink]="['/courses']"
    >
      Save
    </button>
    <button
      class="btn btn-secondary"
      style="margin-left: 20px; margin-bottom: 30px;"
      [routerLink]="['/courses']"
    >
      Back
    </button>

</form>